.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 202, 165);
    position: sticky; /* Make the first container sticky */
    top: 0; /* Stick it to the top of the viewport */
    z-index: 100;
}
.logo{
    border-radius: 50%;

}
.logo-small{
    display: flex;
    height: 100px;
    padding: 12px;
    padding-top: 24px;
}

.links {
    list-style-type: none;
    display: flex;
    padding: 20px;
    justify-content: flex-end;
}
.links a {
    text-decoration: none;
    color: darkolivegreen;
    transition: color 0.3s;
    padding: 12px;
    font-size: 20px;
    font-family: 'Rubik Mono One','Times New Roman', Times, serif;
}
.links a:hover{
    color: pink;
}

.container-0{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    color: darkolivegreen;
    background-color: rgb(241, 206, 223);
    
}
.logo-large{
    display: flex;
    height: 300px;
}

.container-0 span{
    transition: weight 0.4s;

}
.container-0 span:hover{
    text-shadow:  0 0 7px rgb(189, 202, 165);
}
.button{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    
}
.join-button {
    background-color: rgb(238, 132, 176); /* Background color */
    color: rgb(205, 247, 181); /* Text color */
    padding: 10px 20px; /* Padding (top/bottom, left/right) */
    font-size: 14px; /* Font size */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow */
    transition: all 0.3s ease-in-out;
    font-family: 'Rubik Mono One','Times New Roman', Times, serif;
    margin: 20px;

}
.join-button:hover {
    background-color: darkolivegreen; 
    color: rgb(221, 233, 214);/* Background color on hover */
    /* Add other hover styles as desired */
}

.container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: darkolivegreen;
    background-color: beige;
}

.container-2{
    display: flex;
    justify-content: center;
    background-color:  beige
}

.box {
    width: 20%; /* Adjust the width of each box as needed */
    /*background-color: #007bff; /* Background color of the box */
    color: rgb(65, 57, 57); /* Text color inside the box */
    text-align: center; /* Center text horizontally */
    padding: 20px; /* Add padding to the box */
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box-content{
    width: 200px; /* Set a fixed width for the container */
    height: 200px; /* Set a fixed height for the container */
    overflow: hidden; /* Hide any parts of the image that exceed the container */

}
.box-text{
    color: darkolivegreen;
    font-size: 20px;
    
}
.square-image{
    width: 80%; /* Make the image width 100% of the container width */
    height: auto; /* Automatically adjust the image height to maintain its aspect ratio */
    object-fit: cover; /* Maintain the image's aspect ratio and cover the container */
    border: 5px solid pink;
    transition: transform 0.2s ease;
    border-radius: 20%;
}
.square-image:hover{
    transform: scale(1.1);
}

.container-3{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 206, 223);
    padding: 30px;
}
.container-3 p {
    font-size: 40px;
    color: darkolivegreen;
    text-align: center;
}
.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: darkolivegreen;
    text-align: center;
    background-color: beige;
}
 footer{
    display:flex;
    background-color: rgb(189, 202, 165);
    color: darkolivegreen;
    align-items: center;
    justify-content: center;
    padding:20px;
 }